@import "./app";
@import "../components/header/header";
@import "../components/repeatText/repeatText";
@import "../components/list/list";
@import "../components/counter/counter";
@import "../components/check/check";
@import "../components/radio/radio";
@import "../components/dropdown/dropdown";
@import "../components/todo/todo";
@import "../components/colorbox/colorbox";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
